<div class="site-logo">
  <img src="{{ site.baseurl }}/assets/factors-logo.png" class="img-responsive"></img>
  <h1 class="site-logo"><span class="site-logo-left">factors</span><span class="site-logo-right">db</span></h1>
</div>

<hr>
<ul class="nav nav-stacked">
  <li><a href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home"></span> All Experiments</a></li>
</ul>
<hr>

<h6>CATEGORIES</h6>
<ul class="nav nav-stacked">
  {% for category in site.collections.experiments.categories %}
    {% assign cnts = 0 %}
    {% for exp in site.experiments %}
      {% if exp.categories contains category %}
        {% capture cnts %}{{ cnts | plus: '1' }}{% endcapture %}
      {% endif %}
    {% endfor %}
  <li><a href="{{ site.baseurl }}/categories/{{category}}/" class="pre-badge">{{ category | capitalize }} <span class="badge">{{ cnts }}</span></a></li>
  {% endfor %}
</ul>
<hr>
<ul class="nav nav-stacked">
  <li><a href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-info-sign"></span> About this Site</a></li>
</ul>
